<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <p class="navbar-text">©️ 2022 by <b>Alston Luo</b>
    <a href="https://github.com/alstonluo"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/alston-luo-070925235"><i class="fa-brands fa-linkedin"></i></a>
  </p>
</nav>